.roww{
    padding:0px;
    margin:0px;
  
}
.main-background{
    position: relative;
    padding-top:5%
   
}
h1,h2,h3,h4,h5,h6{
    font-family: 'nunito','sans-serif';
    line-height:1.8
}
h5{
    font-size: 22px;
}
p{
    font-family: 'nunito','sans-serif';
    line-height:1.6
}
li{
    font-family: 'nunito','sans-serif';
    line-height:1.6
}
/*********going-back starts here**********/
#going-back{
    background-image: url('../images/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8f4ff;
    background-attachment: scroll;
    overflow-y: hidden;
    height:100vh;
   margin:auto
}
.card-container{
    margin-bottom:8%
}
.card{
  
    overflow-x: hidden;
    /* margin:2em auto 0em auto; */
    
}
.slider-container0{
    width:700px;
    margin:auto;
     position:absolute; 
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
} 
.slider-container0 h3{
    line-height:1.6;
    word-spacing:1px;
}
.logo-container{
    display:flex;
    justify-content: flex-end;
}
#logo{
    /* width:100%; */
    height:auto;
    max-width:100px;
    margin:30px 30px 10px 0px
}
.slide0{
    margin:auto;
    height:60vh;
    position:relative;
   
}
.slide1{
    margin:auto;
    height:60vh;
    position:relative;
   
}
.slide2{
 
    /* padding:20px 40px; */
    height:60vh
}
.slide3{
    /* padding:20px 40px; */
    height:60vh
}
.slide4{
    /* padding:20px 40px; */
    height:60vh
}
.image-container1,.image-container2,.image-container4{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.slide1 h5,.slide2 h5,.slide4 h5{
    color: #135CB0
}
.image-container3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tab_img{
    object-fit: contain;
    object-position: center;
    width:100%;
    height:250px
}
#image1{
    width:100%;
    height:auto;
    max-width:220px;
    margin:30px
}
#image2{
    width:100%;
    height:auto;
    max-width:200px;
    margin:30px
}
#image3{
    width:100%;
    height:200px;
    /* max-width:200px; */
    margin:30px
}
#image4{
    width:100%;
    height:200px;
    /* max-width:200px; */
    margin:30px
}

* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */

.slider-container1,.slider-container2,.slider-container4{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.slider-container3{
    position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%)
}

/* Next & previous buttons */
.prev:hover,.next:hover{
    color: #135CB0;
}
.prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left:1%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-right:20px;
    padding-right:30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right:1%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-left:10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.text-container h3{
    color:#135CB0
}
ul{
    list-style:none
}
ul .li-one::before{
    width: 1em; 
    color:#0099ff
}
ul .li-one{
    font-size:18px
}
ul li::before {
    content: "\2022";  
    color: #0099ff;
    font-size: 30px;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
  ul li {
      color:#135CB0;
      padding:2px 
  }
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.fa-angle-left, .fa-angle-right{
    font-size:50px;
    color:#135CB0
}
.fa-angle-left:hover, .fa-angle-right:hover{
    font-size:50px;
    color:#135CB0
}
@media(max-width:374px){
    #going-back{
        position: relative;
        background-image: url('../images/Phone_BG.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
  
    .image-container3{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .card{
        overflow: hidden;
        height:auto;
        overflow-x: hidden;
        margin: 2em auto 2em auto;
        background-color:transparent;
        border:0px
    }
    
    #image1{
        width:100%;
        height:auto;
        max-width:150px;
        margin:30px
    }
    #image2{
        width:100%;
        height:auto;
        max-width:150px;
        margin:30px
    }
    #image3{
        width:100%;
        height:200px;
        max-width:150px;
        margin:5px
    }
    #image4{
        width:100%;
        height:200px;
        max-width:1500px;
        margin:30px
    }
    .card-container{
        margin-bottom:2em
    }
    
   .slide1{
       /* margin:2em 0em; */
       
   }
   .slide3{
       /* padding:5px 10px; */
       height:65vh
   }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /* margin-top: -22px; */
    margin:auto 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #logo{
    /* width:100%; */
    height:auto;
    max-width:40px;
    margin:2px
    
   }
   ul li::before {
    content: "\2022";  
    color: #135CB0; 
    font-size: 14px;
    font-weight: bold;
    display: inline-block; 
    width: 0.8em; 
    margin-left: -1em;
  }
  .slider-container2,.slider-container3,.slider-container4{
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18em
  }
  .slide0{
    
    min-height:50vh;
    background-attachment:scroll;
    overflow:auto;

}
  .slider-container0{
    position:absolute;
    top:0%;
    left:50%; 
     transform:translate(-50%,0%);
    width:16em;
    padding:0px 5px
  }
  .slider-container1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18em
  }
  .prev{
    cursor: pointer;
    position: fixed;
    top: 50%;
    left:1%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-right:20px;
    padding-right:30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-left:10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
}
@media (min-width:375px) and (max-width:576px){
    #going-back{
        position: relative;
        background-image: url('../images/Phone_BG.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
    .slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
        padding-top:2em;
        line-height:2
    }
    .card{
        overflow: hidden;
        height:auto;
        margin:1em auto 3em auto !important;
        background-color: transparent;
        border:0px
    }
    #logo{
        /* width:100%; */
        height:auto;
        max-width:40px;
        margin:2px
       }
    .image-container3{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .slide4,.slide2,.slide1{
        height:100vh
    }
    .slide0{
        min-height:70vh;
        background-attachment:scroll;
        overflow-x:hidden;
        
    }
    .slide3{
        height:100vh
    }
    .slider-container0 h3{
        font-size:28px;
        line-height:1.6
    }
    .slider-container0 h5{
        font-size:20px;
        /* line-height:1.5 */
    }
    .slider-container0 ul li{
        font-size:16px
    }
    .prev{
        cursor: pointer;
        position: fixed;
        top: 43%;
        left:1%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-right:20px;
        padding-right:30px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
     .next {
        cursor: pointer;
        position: fixed;
        top: 43%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-left:10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .text-container{
          padding-bottom:30px
      }
      ul li::before {
        content: "\2022";  
        color: #0099ff; 
        font-size: 25px;
        font-weight: bold;
        display: inline-block; 
        width: 1em; 
        margin-left: -1em;
      }
      #image1,#image2,#image3,#image4{
          margin:15px 15px
      }
      .slider-container2,.slider-container4{
        position:absolute;
        top:45%;
        left:50%;
        transform:translate(-50%,-55%);
        width:18em
      }
      .slider-container3{
        position:absolute;
        top:45%;
        left:50%;
        transform:translate(-50%,-45%);
        width:18em
      }
      .slider-container1{
        position:absolute;
        top:37%;
        left:50%;
        transform:translate(-50%,-63%);
        width:18em
      }
      .slider-container0{
        width:19em;
        margin:auto;
         position:absolute; 
        top:30%;
        left:50%;
        transform:translate(-50%,-15%);
        padding:5px
    } 
    ul .li-one::before {
        width: 1em;
    }
}
@media (min-width: 577px) and (max-width: 764px){
.slide1,.slide2,.slide3,.slide4{
    height:70vh
}
#going-back{
    position: relative;
    background-image: url('../images/Phone_BG.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8f4ff;
    background-attachment: scroll;
    overflow: hidden;
    min-height:100vh;
   margin:auto
}
.slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
    padding-top:2em;
    line-height:2
}
}
@media (min-width: 765px) and (max-width: 992px){
    #going-back{
        position: relative;
        background-image: url('../images/Phone_BG.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
    .slide1,.slide2,.slide3,.slide4,.slide0{
        height:70vh
    }
    .card{
        overflow: hidden;
        height:auto;
        margin:1em auto 3em auto !important;
        background-color: transparent;
        border:0px
    }
    .prev, .next {
        cursor: pointer;
        position: fixed;
        top: 50%;
        width: auto;
        padding: 16px;
        /* margin-top: -22px; */
        margin:auto 0;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .slider-container0{
        width:500px;
        margin:auto;
         position:absolute; 
        top:60%;
        left:50%;
        transform:translate(-50%,-50%)
    } 
    .slider-container3{
        width:30em
    }
    .slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
        padding-top:1em;
        line-height:2
    }
    .slider-container2,.slider-container4{
        position:absolute;
        top:55%;
        left:50%;
        transform:translate(-50%,-30%);
        width:18em
      }
      .slider-container3{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-40%);
        width:30em
      }
      .slider-container1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-40%);
        width:18em
      }
      .slider-container0{
        width:33em;
        margin:auto;
         position:absolute; 
        top:15%;
        left:50%;
        transform:translate(-50%,-15%);
        padding:5px
    } 
    
}
@media (min-width: 993px) and (max-width: 1100px){
    .slide4,.slide2,.slide1,.slide3{
        height:50vh;
       padding:10em
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        /* margin-top: -22px; */
        margin:auto 0;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
    
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*********going-back ends here**********/