.roww{
    padding:0px;
    margin:0px;
  
}

.main-background{
    position: relative;
    /* padding-top:5% */
   
}
h1,h2,h3,h4,h5,h6{
    font-family: 'nunito','sans-serif';
    line-height:1.8
}
h3{
    font-size: 34px;
    font-weight:800
}
h5{
    font-size: 22px;
    font-weight: 300;
}
p{
    font-family: 'nunito','sans-serif';
    line-height:1.5
}
li{
    font-family: 'nunito','sans-serif';
    line-height:1.5
}

/*********going-back starts here**********/
#going-back{
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8f4ff;
    background-attachment: scroll;
    overflow-y: hidden;
   min-height:100vh;
   margin:auto
}
.sign{
    margin-left:0.5em
}

.card{
  
    overflow-x: hidden;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 1rem;
    margin-top: 5%;
    margin-bottom:5%;
  
    
    /* margin:2em auto 0em auto; */
    
}

.slideshow-container{
    min-height:75vh;
    background-attachment: scroll;
    overflow: hidden;
}
.slider-container0{
    width:65%;
    margin:3% 3%;
     position:absolute; 
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
} 
.slider-container0 h3{
    line-height:1.2;
    word-spacing:1px;
    color:#135CB0
    /* text-align: justify; */
}
.slider-container0 h5{
    /* text-align: justify; */
    line-height:1.5
}
.logo-container{
    display:flex;
    justify-content: flex-end;
}
#logo{
    /* width:100%; */
    height:auto;
    max-width:100px;
    margin:30px 30px 10px 0px
}
.slide0{
    margin:auto;
    /* height:65vh;
    position:relative; */
    
   
}
.slide1{
    /* margin:auto;
    height:65vh; */
    /* position:relative; */
   
}
.slide2{
 
    /* padding:20px 40px; */
    /* height:65vh */
}
.slide3{
    /* padding:20px 40px; */
    /* height:65vh */
}
.slide4{
    /* padding:20px 40px; */
    /* height:65vh */
}
.image-container1,.image-container2,.image-container4{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.slide1 h5,.slide2 h5,.slide4 h5,.slide2 h5,.slide1 h5{
    color: #000000;
    font-weight:600
}
.image-container3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tab_img{
    object-fit: contain;
    object-position: center;
    width:100%;
    height:250px
}
#image1{
    width:100%;
    height:auto;
    max-width:220px;
    margin:30px
}
#image2{
    width:100%;
    height:auto;
    max-width:200px;
    margin:30px
}
#image3{
    width:100%;
    height:200px;
    /* max-width:200px; */
    margin:10px
}
#image4{
    width:100%;
    height:200px;
    /* max-width:200px; */
    margin:30px
}

* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */

.slider-container1,.slider-container2{
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%,-50%)
}
.slider-container4{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%)
  }
.slider-container3{
    position:absolute;
  top:52%;
  left:50%;
  transform:translate(-50%,-50%);
  width:70%
}

/* Next & previous buttons */
.prev:hover,.next:hover{
    color: #135CB0;
}
.prev{
    cursor: pointer;
    position: absolute;
    top: 47%;
    left:4%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-right:20px;
    padding-right:30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display:block
  }
 .next {
    cursor: pointer;
    position: absolute;
    top: 47%;
    right:4%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-left:10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display:block
  }
.text-container h3{
    color:#135CB0
}
ul{
    list-style:none;
    
}
.ul-one{
    margin-left:5%
}
ul .li-one::before{
    width: 1em; 
    color:#0099ff
}
ul .li-one{
    font-size:20px
}
ul li::before {
    content: "\2022";  
    color: #0099ff;
    font-size: 30px;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
  ul li {
      color:#000000;
      /* padding:1px ; */
      font-size:20px;
      font-weight: 500;
  }
/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through */
.fa-angle-left, .fa-angle-right{
    font-size:50px;
    color:#135CB0
}
.fa-angle-left:hover, .fa-angle-right:hover{
    font-size:50px;
    color:#135CB0
}
@media(max-width:374px){
    #going-back{
        position: relative;
        background-image: url('../images/phone.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
  
    .sign{
        text-align: left;
        margin:0rem 1rem 0rem 0rem
    }
    .main-background{
        position: relative;
        padding-top:0%
       
    }
    .image-container3{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .card{
        overflow: hidden;
        height:auto;
        overflow-x: hidden;
        margin: 2em auto 2em auto;
        background-color:transparent;
        border:0px;
       
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
     
        border-radius: 0rem;
    }
    
    #image1{
        width:100%;
        height:auto;
        max-width:150px;
        margin:30px
    }
    #image2{
        width:100%;
        height:auto;
        max-width:150px;
        margin:30px
    }
    #image3{
        width:100%;
        height:200px;
        max-width:150px;
        margin:5px
    }
    #image4{
        width:100%;
        height:200px;
        max-width:1500px;
        margin:30px
    }
    .card-container{
        margin-bottom:2em
    }
    

   .slide3{
       /* padding:5px 10px; */
      height:115vh;
       background-attachment:scroll;
       overflow:scroll;
   }
 
   
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /* margin-top: -22px; */
    margin:auto 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #logo{
    /* width:100%; */
    height:auto;
    max-width:60px;
    margin:2px;
    padding-right:0.3em;
    position: fixed;
    top:2%;
    right:3%;
    z-index:1

    
   }
   ul li::before {
    content: "\2022";  
    color: #135CB0; 
    font-size: 14px;
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }
  .slideshow-container{
    min-height:75vh;
    background-attachment: fixed;
    overflow:auto;
}
  .slider-container2{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18em
  }
  .slider-container3{
    position:relative;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:35%;
    width:17.4em;
    padding-bottom:2em
  }
  .slider-container4{
    position:absolute;
    top:58%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18em
  }
  .slide0{
    
    min-height:172vh;
    background-attachment:scroll;
    overflow:scroll;

}
  .slider-container0{
    position:absolute;
    top:5%;
    left:50%; 
     transform:translate(-50%,0%);
    width:16.5em;
    padding:0px 5px
  }
  .slider-container1{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18em
  }
  .slide4,.slide2,.slide1{
    height:75vh;
     margin:10px;
     background-attachment: fixed;
     overflow:auto !important;
 }
  .prev{
    cursor: pointer;
    position: fixed;
    top: 45%;
    left:2%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-right:20px;
    padding-right:30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .next {
    cursor: pointer;
    position: fixed;
    top: 45%;
    right:0.5%;
    width: auto;
    padding: 5px;
    /* margin-top: -22px; */
    margin-right:10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 
  .ul-one{
      line-height: 1.4;
      font-size:18px;
      padding-inline-start:10px;
  }
 
  ul .li-one::before {
    content: "\2022";
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    /* padding-inline-start:20px; */
   
}
ul .li-two::before{
    content: "\2022";
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.slider-container0 h3{
    font-size:26px;
    line-height:1.6;
    /* text-align: justify; */
    font-weight: bold;
}
.slider-container0 h5{
    font-size:20px;
    /* text-align: justify; */
    /* line-height:1.5 */
    margin-right:1em
}
.slider-container0 ul li{
    font-size:16px;
    /* text-align: justify; */
    line-height:1.4;
    margin-right:1em
}
.slide1 h5,.slide2 h5,.slide4 h5,.slide2 h5,.slide1 h5{
    color: #000000;
    font-weight:600;
    font-size:20px;
    margin:0% 6%
}
.text-container{
    padding-bottom:30px;
    margin:0% 6%
}
.text-container h3{
    font-size:26px;
    color:#000000
}
.ul-two{
    margin:0% 4% 0% 1%;
    padding-inline-start:10px;
    
}
.li-two{
    padding:2px 2px;
    /* margin-left:5% */
    /* text-align: justify; */
}
.fa-angle-left, .fa-angle-right{
    font-size:35px;
    color:#135CB0
}
}
@media (min-width:375px) and (max-width:576px){
    #going-back{
        position: relative;
        background-image: url('../images/phone.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
    .sign{
        text-align: center;
    }
    .main-background{
        position: relative;
        padding-top:0%
       
    }
    .slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
        padding-top:2em;
        line-height:2
    }
    .card{
        overflow: hidden;
        height:auto;
        margin:1em auto 3em auto !important;
        background-color: transparent;
        border:0px;
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
     
        border-radius: 0rem;
    }
    .logo-container{
        position:relative
    }
    #logo{
        /* width:100%; */
        height:auto;
        max-width:70px;
        margin:2px ;
        padding-right:0.3em;
        position: fixed;
        top:2%;
        right:3%;
        z-index:1
       }
    .image-container3{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* margin-top:10em */
    }
    .slideshow-container{
        min-height:90vh;
        background-attachment: fixed;
        /* overflow:fixed; */
    }
    .slide4,.slide2,.slide1{
       height:80vh;
        margin:10px;
        background-attachment: fixed;
        overflow: auto;
    }
    .slide0{
        min-height:155vh;
        background-attachment:scroll;
        overflow-x:hidden;
        margin:10px
    }
    .slide3{
        height:100vh;
        background-attachment:scroll;
        overflow :scroll;
        margin:10px
    }
    .slider-container0 h3{
        font-size:30px;
        line-height:1.6;
        /* text-align: justify; */
    }
    .slider-container0 h5{
        font-size:24px;
        /* text-align:justify */
        /* line-height:1.5 */
        margin-right:0.5
    }
    ul li{
        line-height: 1.4;
        font-size: 18px;
    }
   h3{
       font-size:30px;
       font-weight:700
   }
    h5{
        
        line-height: 1.8;
    }
    .slider-container0 ul li{
        font-size:16px;
        text-align: justify;
    }
    .prev{
        cursor: pointer;
        position: fixed;
        top: 43%;
        left:2%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        /* margin-right:20px;
        padding-right:30px; */
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
     .next {
        cursor: pointer;
        position: fixed;
        top: 43%;
        right:1%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        /* margin-right:10px; */
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .text-container{
          padding-bottom:30px;
          margin:0% 3%
      }
      .slider-container0 ul li{
        font-size:18px;
        /* text-align: justify; */
        line-height:1.4;
        margin-right:2em
    }
    .ul-two{
        margin:0% 4% 0% 1%
    }
    .li-two{
        padding:2px 5px;
        /* text-align: justify; */
    }
    ul .li-one::before, ul .li-two::before{
        color:#000000;
        font-size:20px
    }
      ul li::before {
        content: "\2022";  
        color: #000000; 
        /* font-size: 25px; */
        font-weight: bold;
        display: inline-block; 
        width: 1em; 
        margin-left: -1em;
      }
      #image1,#image2,#image3,#image4{
          margin:15px 15px
      }
      .slider-container2,.slider-container4{
        position:absolute;
        top:60%;
        left:50%;
        transform:translate(-50%,-50%);
        width:18em
      }
      .slider-container3{
        position:relative;
        top:60%;
        left:50%;
        transform:translate(-50%,-50%);
        /* margin-top:50%; */
        width:18em
      }
      .slider-container1{
        position:absolute;
        top:56%;
        left:50%;
        transform:translate(-50%,-50%);
        width:18em
      }
      .slider-container0{
        width:82%;
        margin:auto;
         position:absolute; 
        top:23%;
        left:50%;
        transform:translate(-50%,-15%);
        padding:5px
    } 
    .text-container h3{
        font-size:30px;
        color:#000000
    }
    .slide1 h5,.slide2 h5,.slide4 h5,.slide2 h5,.slide1 h5{
        color: #000000;
        font-weight:600;
        font-size:22px;
        margin:0% 3%
    }
    ul .li-one::before {
        width: 1em;
    }
    .fa-angle-left, .fa-angle-right{
        font-size:40px;
        color:#135CB0
    }
}
@media (min-width: 577px) and (max-width: 764px){
.slide1,.slide2,.slide3,.slide4{
    height:70vh
}
#going-back{
    position: relative;
    background-image: url('../images/Phone_BG.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8f4ff;
    background-attachment: scroll;
    overflow: hidden;
    min-height:100vh;
   margin:auto
}
.slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
    padding-top:2em;
    line-height:2;
    color:#000000;
    font-weight: 500;
}
.sign{
    margin-left:1em
}
.card{
    overflow: hidden;
    height:auto;
    margin:1em auto 3em auto !important;
    background-color: transparent;
    border:0px;
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
 
    border-radius: 0rem;
}
}
@media (min-width: 765px) and (max-width: 992px){
    #going-back{
        position: relative;
        background-image: url('../images/Phone_BG.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #e8f4ff;
        background-attachment: scroll;
        overflow: hidden;
        min-height:100vh;
       margin:auto
    }
  
    .card{
        overflow: hidden;
        height:auto;
        margin:1em auto 3em auto !important;
        background-color: transparent;
        border:0px
    }
   
    .prev{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left:5%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-right:20px;
        padding-right:30px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
     .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right:5%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-left:10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
    
    .slider-container3{
        width:30em
    }
    .slide1 h5,.slide2 h5 ,.slide3 h5,.slide4 h5{
        padding-top:1em;
        line-height:2;
        color:#000000
    }
    .slider-container2{
        position:absolute;
        top:52%;
        left:50%;
        transform:translate(-50%,-30%);
        width:25em
      }
      .slider-container4{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-30%);
        width:25em
      }
      .slider-container3{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-40%);
        width:70%
      }
      .slider-container1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-30%);
        width:25em
      }
      .slider-container0{
        width:80%;
        margin:auto;
         position:absolute; 
        top:30%;
        left:50%;
        transform:translate(-50%,-15%);
        padding:5px
    } 
    .sign{
        margin-left:0.5em
    }
    .card{
        overflow: hidden;
        height:auto;
        margin:1em auto 3em auto !important;
        background-color: transparent;
        border:0px;
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
     
        border-radius: 0rem;
    }
    h3{
        font-size:32px;
    }
    h5{
        font-size:26px
    }
    ul {
        font-size:20px
    }

}
@media (min-width: 993px) and (max-width: 1100px){
    .slide4,.slide2,.slide1,.slide3{
        height:50vh;
       padding:10em
    }
  
      .sign{
        margin-left:0.5em
    }
    .slideshow-container{
        min-height:55vh;
        background-attachment: scroll;
        overflow: hidden;
    }
    .slide0,.slide1,.slide2,.slide3,.slide4{
        /* height:50vh */
    }
    h3{
        font-size:32px;
    }
    h5{
        font-size:26px
    }
    li{
        font-size:20px
    }
    .main-background{
        position: relative;
        padding-top:6.5%
       
    }
    .prev{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left:5%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-right:20px;
        padding-right:30px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
     .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right:5%;
        width: auto;
        padding: 5px;
        /* margin-top: -22px; */
        margin-left:10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
    
    .slider-container1,.slider-container2{
        position:absolute;
        top:58%;
        left:50%;
        transform:translate(-50%,-50%)
      }
      .slider-container4{
          position:absolute;
          top:55%;
          left:50%;
          transform:translate(-50%,-50%)
        }
      .slider-container3{
          position:absolute;
        top:52%;
        left:50%;
        transform:translate(-50%,-50%);
        width:70%
      }
      .slider-container0{
        width:70%;
        margin:3% 3%;
         position:absolute; 
        top:50%;
        left:50%;
        transform:translate(-50%,-50%)
    }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*********going-back ends here**********/